<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather1.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>Page not found</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
    

    {{>footer}}

    
    
</body>
</html>