<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather1.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <p>
                Weathx is a useful application for everyone, designed simple, easy to use. It automatically searches for your address and updates your local weather situation quickly.<br>
                <br>The weather app also provides atmospheric pressure, weather conditions, visibility distance, relative humidity, precipitation in different unites, dew point, wind speed and direction, of current weather forecast.
            </p>
            <div class="row">
                <div class="col">
                    <h2>App Features...</h2>
                    <hr>
                    <ul>
                        <li>Accurate temperature</li>
                        <li>Precise and real-time weather updates</li>
                        <li>World-wide weather information</li>
                    </ul>
                </div>
                <div class="col">
                    <img class="portrait" src="/img/w.png">    
                </div>
            </div>
        </div>
        {{!-- <img class="portrait" src="/img/about.jpg"> --}}
    </div>
    
    {{>footer}}
    {{!-- <script src="./js/index.js"></script> --}}
</body>
</html>